@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    font-family: 'open sans';
    padding-left: .75rem;
}

/* Particles styling */
#particles-js {
    width: 100vw;
    height: 100vh;
    background: rgb(230, 218, 218);
    z-index: 100;
}
/* positioning */
.container {
    position: absolute;
    top: 20%;
    left: 31%;
    margin-top: -50px;
    margin-left: -100px;
    background: transparent;
    position: absolute;
    display: grid;
    z-index: 100;
}
/* Juicy header css */
.headerIntro {
    width: 60vw;
    height: 29rem;
    color: #1d1b1b;
    font-family: 'Archivo Black', sans-serif;
    background-color: rgba(216, 216, 216, 0.171);
    padding-left: 2rem;
    border-radius: 16px;
    z-index: -1;
    background-blend-mode: difference;
    h1 {
        font-size: 10vw;
        letter-spacing: 10px;
        text-align: start;
       
        margin-left: 10px;
        margin-top: -2rem;
       
    }
    i {
       padding: .5rem;
       display: block;
    }
    i:hover{
        color: #c06969;
        cursor: pointer;
    }
    .socialIcons {
        float: left;
        margin-top: -10px;
        margin-left: 20px;
    }
    h2 {
        text-transform: uppercase;
        padding-left: 10px;
        color: #c06969;
        margin-top: -5px;
    }
  
    p {
        width: 70%;
        position: absolute;
    }
}

   a {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(86, 90, 90);
        padding: 5px;
    }

    a:hover {
        color: #c06969;
        font-weight: bold;
    } 

    nav {
        padding-top: 8rem;
        margin-left: 60px;
        width: auto;
        position: absolute;
        li {
            padding-left: 16px;
        }
    }

    @media screen and (max-width:1100px){
        nav{
            display: none;
        }
    }
    @media screen and (min-width:1100px){
        .hamburger, .icon1, .icon2, .icon3, .navbar--middle a, .navbar--middle {
            display: none;
           
        }
    }

    @media screen and (max-width: 768px){
        .headerIntro {
            width:90vw;
            margin-left: -7vw;
            height: 80vh
        }
        .innerText p{
            width: 60%;
        }
        .innerText {
            margin-bottom: 15rem;
        }
        .headerIntro h1{
            padding-left: 40px;
            padding-top: 3rem;
        }
    }


    .work ul {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        transition: all 0.4s ease;
        transform: translateY(10px);
        padding-bottom: 8px;
        font-family: 'open sans';
        text-transform: uppercase;
    }

    button {
        background: none;
        border: none;
        font-family: 'Archivo Black', sans-serif;
        font-size: 28px;
        color: rgba(26, 27, 27, 0.87);
        outline: none;
    }

    button:hover {
            color: #c06969;
            cursor: pointer;
        }

 .innerText {
     margin-bottom: 5rem;
 }



 .burgerItems {
     background-color: white;
     width:100%;
     height: 100vh;
     position: fixed;
     z-index: 1200;
     padding-top: 50%;
     padding-left: 20%;
 }

 .navbar--middle {
  display: none;
  margin-left: 26%;
  position: fixed;
  display: none;
}

.navbar--middle a {
  display: inline-flex;
  padding: 8px 8px 8px 32px;
}

.hamburger {
  display: inline-block;
  margin-top: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}

.icon1 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s;
}

.icon2 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s;
}

.icon3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.4s;
}


/* Rotate first bar */

.change .icon1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .icon2 {
  opacity: 0;
}


/* Rotate last bar */

.change .icon3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
 