@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    font-family: 'open sans';
    padding-left: .75rem;
}

/* Particles styling */
#particles-js {
    width: 100vw;
    height: 100vh;
    background: rgb(230, 218, 218);
    z-index: 100;
}
/* positioning */
.container {
    position: absolute;
    top: 30%;
    left: 20%;
    margin-top: -50px;
    margin-left: -100px;
    background: transparent;
    position: absolute;
    display: grid;
    z-index: 100;
}
/* Juicy header css */
.headerIntro {
    width: 60vw;
    height: 100vh;
    color: #1d1b1b;
    font-family: 'Archivo Black', sans-serif;
    background-color: rgba(238, 227, 227, 0.493);
    padding-left: 6rem;
    padding-top: 2rem;
    border-radius: 8px;
    a {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #ccd674;
        font-weight: bold;
        padding: 20px;
    }
    a:hover {
        color: rgb(41, 41, 41);
    }
    h1 {
        font-size: 10vw;
        letter-spacing: 10px;
        text-align: justify;
        margin-left: 10px;
        
    }
    i {
       padding: 1rem;
       display: block;
    }
    i:hover{
        color: #c06969;
        cursor: pointer;
    }
    .socialIcons {
        float: left;
        margin-top: -10px;
    }
    h2 {
        text-transform: uppercase;
        padding-left: 12px;
        color: #c06969;
    }
}

.headerIntro p {
    width: 70%;
}