@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap');

$yellow: #d8ce61;
$brown: #6e6767f6;
$angle: 8px;
$angle-o: 4px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
     overflow: hidden;
     background: #ffffff;
}


.cards{
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin-left: 35rem;
    width: 50vw;
    position: absolute;
    margin-top: -3rem;
    
   
}

    @media screen and (max-width:1000px){
        nav{
            display: none;
        }
    }


.card {
    background-color: rgb(73, 73, 73);
    width: 20vw;
    height: 25vw;
    min-height: 16rem;
    min-width: 12rem;
    padding: 1rem;
    margin: 3vw;
    transform: skew(-35deg, 15deg);
    top: 0;
    position: relative;
    border-radius: 16px;
    transition: top ease 0.3s;
    transition: box-shadow ease-in 0.5s ;
    -webkit-box-shadow: 17px 11px 3px 0px rgba(75, 75, 75, 0.358); 
    box-shadow: 17px 11px 3px 0px rgba(75,75,75,0.358);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width:1000px){
    .cards {
        padding-top: 25rem;
        margin-left: -2rem;
    }
    .card {
        margin: 1.5rem;
    }
}

.card:hover {
    top: -10px;
    cursor: pointer;
    -webkit-box-shadow: 17px 11px 3px 0px rgba(75,75,75,0.63); 
box-shadow: 17px 11px 3px 0px rgba(75,75,75,0.63);
    
}

  .work ul {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        transition: all 0.4s ease;
        transform: translateY(10px);
        padding-bottom: 8px;
        font-family: 'open sans';
        text-transform: uppercase;
    }

    button {
        background: none;
        border: none;
        font-family: 'Archivo Black', sans-serif;
        font-size: 22px;
        color: rgba(26, 27, 27, 0.87);
        outline: none;
        text-transform: uppercase;
    }

    button:hover {
            color: #c06969;
            cursor: pointer;
        }

        
    a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #565a5a;
    padding: 5px;
    }


    a:hover {
    color: #c06969;
    font-weight: bold;
    }

    
    nav {
    padding-top: 24rem;
    margin-left: 60px;
    width: auto;
    position: fixed;
    z-index: 1000;
    }

    nav li {
  padding-left: 16px;
  list-style: none;
}


.projectBtn {
    background: $yellow;
    top: 40%;
    left: 15%;
    font-size: 1.4vw;
    position: absolute;
    box-shadow: 6px 6px rgb(146, 145, 145);
    padding: 8px;
     color: rgb(88, 88, 88);
}

.projectBtn:hover{
        box-shadow: 3px 3px rgb(146, 145, 145);
        color: rgb(83, 83, 83);
    }
