@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #ffffff;
}

p {
  font-family: 'open sans', sans-serif;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  margin-top: -6px;
}

.cards {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  margin-left: 35rem;
  width: 50vw;
  position: absolute;
  margin-top: -3rem;
}

@media screen and (max-width: 1000px) {
  nav {
    display: none;
  }
}

.card {
  background-color: #494949;
  width: 20vw;
  height: 25vw;
  min-height: 16rem;
  min-width: 12rem;
  padding: 1rem;
  margin: 3vw;
  -webkit-transform: skew(-35deg, 15deg);
          transform: skew(-35deg, 15deg);
  top: 0;
  position: relative;
  border-radius: 16px;
  -webkit-transition: top ease 0.3s;
  transition: top ease 0.3s;
  -webkit-transition: -webkit-box-shadow ease-in 0.5s;
  transition: -webkit-box-shadow ease-in 0.5s;
  transition: box-shadow ease-in 0.5s;
  transition: box-shadow ease-in 0.5s, -webkit-box-shadow ease-in 0.5s;
  -webkit-box-shadow: 17px 11px 3px 0px rgba(75, 75, 75, 0.358);
  box-shadow: 17px 11px 3px 0px rgba(75, 75, 75, 0.358);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .cards {
    top: 20%;
    right: 40%;
  }
  .card {
    margin: 1.5rem;
  }
}

.card:hover {
  top: -10px;
  cursor: pointer;
  -webkit-box-shadow: 17px 11px 3px 0px rgba(75, 75, 75, 0.63);
  box-shadow: 17px 11px 3px 0px rgba(75, 75, 75, 0.63);
}

.work ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  padding-bottom: 8px;
  font-family: 'open sans';
  text-transform: uppercase;
}

button {
  background: none;
  border: none;
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
  color: rgba(26, 27, 27, 0.87);
  outline: none;
  text-transform: uppercase;
}

button:hover {
  color: #c06969;
  cursor: pointer;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #565a5a;
  padding: 5px;
}

a:hover {
  color: #c06969;
  font-weight: bold;
}

nav {
  padding-top: 24rem;
  margin-left: 60px;
  width: auto;
  position: fixed;
  z-index: 1000;
}

nav li {
  padding-left: 16px;
  list-style: none;
}

.projectBtn {
  background: #d8ce61;
  top: 40%;
  left: 15%;
  font-size: 1.4vw;
  border-radius: 8px;
  position: absolute;
  -webkit-box-shadow: 6px 6px #929191;
          box-shadow: 6px 6px #929191;
  padding: 8px;
  color: #585858;
}

.projectBtn:hover {
  -webkit-box-shadow: 3px 3px #929191;
          box-shadow: 3px 3px #929191;
  color: #535353;
}

.burgerItems {
  background-color: white;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1200;
  padding-top: 50%;
  padding-left: 20%;
}

.navbar--middle {
  display: none;
  margin-left: 26%;
  position: fixed;
  display: none;
}

.navbar--middle a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 8px 8px 8px 32px;
}

.hamburger {
  margin-top: 1rem;
  cursor: pointer;
  float: right;
  padding-right: 90vw;
}

.icon1 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 100000;
}

.icon2 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  z-index: 100000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.icon3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  z-index: 100000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rotate first bar */
.change .icon1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .icon2 {
  opacity: 0;
}

/* Rotate last bar */
.change .icon3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 1100px) {
  nav {
    display: none;
  }
  .slider {
    margin-left: -10rem;
  }
}

@media screen and (min-width: 1100px) {
  .hamburger, .icon1, .icon2, .icon3, .navbar--middle a, .navbar--middle {
    display: none;
  }
}

.slider {
  position: absolute;
  left: 50%;
  top: 12%;
}

.slider img {
  min-width: 400px;
  min-height: 600px;
}

.imgText {
  position: absolute;
  left: 14%;
  top: 12%;
  text-align: right;
  width: 35%;
  background-color: white;
  z-index: 1000;
  padding: 16px;
}

#animated {
  font-size: 2vw;
  font-family: 'Archivo Black', sans-serif;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #CCC), color-stop(50%, #FF5858), to(#CC2E5D));
  background: linear-gradient(to right, #CCC 50%, #FF5858 50%, #CC2E5D);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#animated:hover {
  background-position: -100%;
}

.stack {
  position: absolute;
  height: 50vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 30vh;
}

.frontEnd1 {
  position: absolute;
  height: 50%;
  z-index: 22;
}

.frontEnd2 {
  position: absolute;
  height: 30%;
  top: 1vh;
  z-index: 21;
}

.frontEnd3 {
  position: absolute;
  height: 10%;
  top: 7vh;
  z-index: 23;
}
/*# sourceMappingURL=web.css.map */